{% extends 'admin/change_form.html' %}
{% load i18n admin_modify verbatim_tag %}
{% load url from future %}

{% block extrahead %}
<style type="text/css">
.main
{
    max-width: none !important;
}

#use-only-user{
    margin-right: 20px;
}

#form-search-text, #form-search-clear{
    display: inline-block !important;
}

.hasDatepicker
{
    width: 7em !important;
    margin-left: 5px !important;
}

.pagination{
    margin: 0;
    padding: 0;
}

.pagination li
{
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    padding-left: 0.5em;
}

.resent_hour{
    background-color: rgb(207, 207, 207) !important;
}

label {
    display: inline !important;
    margin-right: 15px !important;
}

</style>
<link rel="stylesheet" type="text/css" href="/static/css/ui.dropdownchecklist.css" />

<meta name="patient-model" content="{% url 'backbone:remailer_patient' %}" />
<meta name="clinic-model" content="{% url 'backbone:remailer_clinic' %}" />
<meta name="promoter-model" content="{% url 'backbone:remailer_promoter' %}" />

<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<script type="text/javascript" src="/static/js/ui.dropdownchecklist.js"></script>
<script type="text/javascript" src="/static/js/patient.js"></script>
<script type="text/javascript" src="/static/js/angular.min.js"></script>

<!--
<script type="text/javascript" src="/static/arkiadmin/js/backbone.search.js"></script>
<script type="text/javascript" src="/static/arkiadmin/js/multi-sort.collection.js"></script>
<script type="text/javascript" src="/static/js/paginated_collection.js"></script>
<script type="text/javascript" src="/static/js/patient_script.js"></script>
<script>
    // (Optional) Do this if you are using csrf protection:
    // See: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/

    var oldSync = Backbone.sync;
    Backbone.sync = function(method, model, options) {
        options.beforeSend = function(xhr){
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        };
        return oldSync(method, model, options);
    };

</script>
-->
{% endblock %}

{% block mainbody %}{{ block.super }}
{% endblock %}

{% block fieldset %}
<fieldset class="module aligned" id="patient_fieldset" ng-app ng-controller="PatientsController">
    <input type="hidden" id="id_active" value="" />

    <div ng-hide="user_valid">
        <div class="field-box">
            <div class="space1"></div>
            <label class="required">First name:</label>
            <input type="text" ng-model="first_name" name="first_name">
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label class="required inline">Last name:</label>
            <input type="text" ng-model="last_name" name="last_name">
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label class="required inline">E-Mail:</label>
            <input type="text" ng-model="email" name="email">
        </div>
        <br>
        <div class="field-box">
            <a class="btn btn-primary" ng-click="validate_patient()">Next</a>
        </div>
    </div>

    <div class="modal hide fade" id="modal-choice-patients">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Choice a patient</h3>
        </div>
        {% verbatim %}
        <div class="modal-body">
            <div ng-repeat="patient in patients">
                <p>
                    <a class="btn btn-small" ng-click="open_patient(patient.pk)">Choice</a>
                    {{patient.fields.first_name}} {{patient.fields.last_name}} - {{patient.fields.contact_date}}
                </p>
            </div>
        </div>
        {% endverbatim %}
        <div class="modal-footer">
        </div>
    </div>

    <div class="form-row first_name last_name datetime date email telephone mobile treatment clinic promoter comment" ng-show="user_valid">
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_contact_date" class="required">Contact Date *:</label>
            {{ adminform.form.contact_date }}
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_first_name" class="required">First name *:</label>
            {{ adminform.form.first_name }}
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_last_name" class="required inline">Last name *:</label>
            {{ adminform.form.last_name }}
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_datetime_0" class="required inline">Appointment Time:</label>
            <p class="datetime">
                Date:
                {{ adminform.form.date_data }}
                <br>
                Time:
                {{ adminform.form.time_data }}
            </p>
        </div>
        <div class="field-box">
            <div class="space1"></div>
            {{ adminform.form.date }}
            <label for="id_date" class="vCheckboxLabel inline required">Appointment</label>
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_birth_date" class="required inline">Birth date:</label>
            {{ adminform.form.birth_date }}
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_email" class="required inline">E-Mail:</label>
            {{ adminform.form.email }}
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_telephone" class="required inline">Telephone:</label>
            {{ adminform.form.telephone }}
        </div>
        <div class="field-box">
             <div class="space1"></div>
            <label for="id_mobile" class="required inline">Mobile:</label>
            {{ adminform.form.mobile }}
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_treatment" class="required inline">Appointment Status:</label>
            <select id="id_treatment" name="treatment">
                <option>New Patient</option>
                <option>Follow up</option>
                <option>Past Patient / New Treatment</option>
                <option>Warranty</option>
            </select>
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="procedures" class="required inline">Procedures:</label>
            <select id="procedures" multiple="multiple" class="vTextField">
                <option>All on 4/6/8/ Final Plate</option>
                <option>All-on 4</option>
                <option>All-on 6/8</option>
                <option>Apiectomy</option>
                <option>Bone Graft</option>
                <option>Braces</option>
                <option>Bridge</option>
                <option>Cleaning</option>
                <option>Crowns Zirconium</option>
                <option>Crowns</option>
                <option>Deep Cleaning</option>
                <option>Denture</option>
                <option>Diagnosis</option>
                <option>Extraction</option>
                <option>Filling</option>
                <option>Implant Crown (other Brands)</option>
                <option>Implant Crown</option>
                <option>Implant immediate load</option>
                <option>Implant supported bridge</option>
                <option>Implant Supported Denture</option>
                <option>Implants</option>
                <option>LANAP</option>
                <option>Laser Cleaning</option>
                <option>Oral Surgery</option>
                <option>Partial Denture</option>
                <option>Prettau Final Plate</option>
                <option>Root Canal</option>
                <option>Sinus Lift</option>
                <option>Snap-on Final Plate</option>
                <option>Surgical Extraction</option>
                <option>Veneers</option>
                <option>Whitening Home Kit</option>
                <option>Whitening in office</option>
                <option>Whitening Laser</option>
            </select>
            <div style="display:none">
                {{ adminform.form.procedures }}
            </div>
        </div>
         <div class="field-box">
            <div class="space1"></div>
            <label for="id_city_of_residence" class="required inline">City of Residence:</label>
            {{ adminform.form.city_of_residence }}
        </div>
         <div class="field-box">
            <div class="space1"></div>
            <label for="id_promo_code" class="required inline">Promo Code:</label>
            {{ adminform.form.promo_code }}
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_clinic" class="required inline">Clinic:</label>
            {{ adminform.form.clinic }}
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_promoter" class="required inline">Promoter:</label>
            {{ adminform.form.promoter }}
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_comment" class="required inline">Comment:</label>
            {{ adminform.form.comment }}
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_reward" class="inline">Reward Program:</label>
            <input type="checkbox" id="id_reward" name="reward_program" ng-model="reward">
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_reward_name" class="vTextField inline" maxlength="120" ng-show="reward">Name:</label>
            <input type="text" name="reward_name" id="id_reward_name" ng-show="reward">
        </div>
    </div>
    <div class="submits" id="submits" ng-show="user_valid">
        <input type="submit" class="btn btn-primary" name="_save" value="Save Patient" id="form-save" />
        <input type="submit" class="btn btn-primary" name="_udate_appointment" id="form-udate-appointment" value="Update Patient and change appointment" style="visibility:hidden; display:none" />
        <input type="submit" class="btn btn-warning" id="form-save-as-new" value="Save as new appointment" style="visibility:hidden; display:none" name="_new_patient" onclick="return saveAsNew()" />
        <a class="btn" href="/remailer/patient/add/">New patient</a>
    </div>
</fieldset>
{% endblock %}

{% block submit %}
{% endblock %}

{% block extra_content %}
<br>
<a name="list"></a>
<h3>Patients list</h3>
<div class="submits">
<form method="get" action="#list">
<input id="form-search-text" type="text" name="search" value="{% if search %}{{search}}{%endif%}"/>
<input type="submit" class="btn" id="form-search-clear" value="Search" />
<a class="btn" href="/remailer/patient/add/#list">Clear</a>
</form>
</div>

<table cellspacing="0" id="patient_list" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col" class="sortable">
                <a href="?filter=first_name&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">First name</a>
                <i data-sort="first_name" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="sortable">
                <a href="?filter=last_name&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">Last name</a>
                <i data-sort="last_name" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="sortable">
                <a href="?filter=contact_date&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">Contact Date</a>
                <i data-sort="contact_date" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="sortable">
                <a href="?filter=date_data&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">Appointment Date</a>
                <i data-sort="date_data" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="sortable">
                <a href="?filter=time_data&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">Appointment Hour</a>
                <i data-sort="time_data" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="sortable">
                E-Mail
            </th>
            <th scope="col" class="sortable">
                Birth date
            </th>
            <th scope="col" class="sortable">
                Telephone
            </th>
            <th scope="col" class="sortable">
                Mobile
            </th>
            <th scope="col" class="sortable">
                <a href="?filter=clinic__name&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">Clinic</a>
                <i data-sort="clinic__name" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="sortable">
                <a href="?filter=treatment&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">Appointment Status</a>
                <i data-sort="treatment" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="sortable">
                Procedure
            </th>
            <th scope="col" class="sortable">
                City of Residence
            </th>
            <th scope="col" class="sortable">
                Promo Code
            </th><th scope="col" class="sortable">
                Comment
            </th>
            <th scope="col" class="sortable">
                <a href="?filter=promoter__name&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">Promoter</a>
                <i data-sort="promoter__name" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="sortable">
                <a href="?filter=date&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">Active Date</a>
                <i data-sort="date" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="sortable">
                <a href="?filter=reward_program&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">Reward</a>
                <i data-sort="date" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="sortable">
                <a href="?filter=reward_name&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">Name</a>
                <i data-sort="date" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="sortable">
                <a href="?filter=user__username&filter_order_m={{ filter_order }}{% if search %}&search={{search}}{%endif%}#list">User</a>
                <i data-sort="user__name" class="{{ filter_icon }}"></i>
            </th>
            <th scope="col" class="action-checkbox-column">
            </th>
            <th scope="col" class="action-checkbox-column">
            </th>
        </tr>
    </thead>
    <tbody id="patients-list">
    {% for patient in patients.object_list %}
        <tr class="row-patient">
            <th>
                {% if user.id == patient.user.id or user.is_superuser %}
                <a href="/remailer/patient/{{patient.id}}/">{{ patient.first_name }}</a>
                {% else %}
                {{ patient.first_name }}
                {% endif %}
            </th>
            <td>{{ patient.last_name }} </td>
            <td>{{ patient.contact_date }} </td>
            <td>{{ patient.date_data }} </td>
            <td>{{ patient.time_data }} </td>
            <td>{{ patient.email }}</td>
            <td>{{ patient.birth_date|default:'' }}</td>
            <td>{{ patient.telephone }}</td>
            <td>{{ patient.mobile }}</td>
            <td>{{ patient.clinic_name }}</td>
            <td>{{ patient.treatment }}</td>
            <td>
                <a href="#!" rel="popover" class="comment-patient" data-content="{{patient.procedures}}" data-original-title="Comment">
                {{patient.procedures|slice:":10"}}
                </a>
            </td>
            <td>{{ patient.city_of_residence }}</td>
            <td>{{ patient.promo_code }}</td>
            <td>
                <a href="#!" rel="popover" class="comment-patient" data-content="{{patient.comment}}" data-original-title="Comment">
                {{patient.comment|slice:":10"}}
                </a>
            </td>
            <td>{{ patient.promoter_name }}</td>
            <td>
                {% if patient.state == 0 %}
                    <img src="/static/admin/img/icon-no.gif" title="Patient prospect">
                {% elif patient.state == 1 %}
                    <img src="/static/admin/img/icon-yes.gif" title="Patient">
                {% elif patient.state == 2 %}
                    <img src="/static/img/icon-warning-small.gif" title="Canceled">
                {% elif patient.state == 3 %}
                    <img src="/static/img/icon-warning-violet.png" title="No Show">
                {% endif %}
            </td>
            <td>
                {% if patient.reward_program %}
                    <img src="/static/admin/img/icon-yes.gif" alt="">
                {% else %}
                    <img src="/static/admin/img/icon-no.gif" alt="">
                {% endif %}
            </td>
            <td>{{ patient.reward_name }}</td>
            <td>{{ patient.user.username }}</td>

            <td>
                {% if user.id == patient.user.id or user.is_superuser %}
                <input type="button" class="btn btn-danger delete" value="Delete" onclick="delete_patient({{ patient.id }});" />
                {% endif %}
            </td>
            <td>
                {% if user.id == patient.user.id or user.is_superuser %}
                    {% if patient.date_data and patient.time_data %}
                        {% if patient.state != 1 %}
                        <input type="button" class="btn btn-primary reactive" value="Activate" onclick="    change_patient_date({{ patient.id }}, 'activate');">
                        {% elif patient.state == 1 %}
                        <input type="button" class="btn btn-warning cancel" value="Cancel" onclick="    change_patient_date({{ patient.id }}, 'cancel');">
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if patient.state == 1 %}
                <input type="button" class="btn btn-info cancel" value="No Show" onclick="    change_to_no_show({{ patient.id }});">
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- pagination number here -->
<div id="pagination_content">
    <ul class="pagination">
    {% if patients.has_previous %}
        <li class="arrow unavailable">
            <a href="?page={{ patients.previous_page_number }}&filter={{filter}}&filter_order={{filter_order}}{% if search %}&search={{search}}{%endif%}#list">&laquo;</a>
        </li>
    {% endif %}

    {% for num in patients.paginator.page_range %}
        {% ifequal num patients.number %}
            <li>
                <a href="?page={{ num }}&filter={{filter}}&filter_order={{filter_order}}{% if search %}&search={{search}}{%endif%}#list">
                    <u>{{ num }}</u>
                <a/>
            </li>
        {% else %}
            <li>
                <a href="?page={{ num }}&filter={{filter}}&filter_order={{filter_order}}{% if search %}&search={{search}}{%endif%}#list">
                    {{ num }}
                </a>
            </li>
        {% endifequal %}
    {% endfor %}

    {% if patients.has_next %}
        <li class="arrow"><a href="?page={{ patients.next_page_number }}&filter={{filter}}&filter_order={{filter_order}}{% if search %}&search={{search}}{%endif%}#list">&raquo;</a></li>
    {% endif %}
    </ul>
</div>
<div class="submits-list">
</div>
{% endblock %}
