
<th>
    {{ #is_current_user }}
    <a href="#!/edit/{{patient.id}}">{{ patient.first_name }}</a>
    {{ /is_current_user }}
    {{ ^is_current_user }}
    {{ patient.first_name }}
    {{ /is_current_user }}
</th>
<td>{{ patient.last_name }} </td>
<td>{{ patient.contact_date_format }} </td>
<td>{{ patient.date_converted }} </td>
<td>{{ patient.time_data }} </td>
<td>{{ patient.email }}</td>
<td>{{ patient.telephone }}</td>
<td>{{ patient.mobile }}</td>
<td>{{ patient.clinic_name }}</td>
<td>{{ patient.treatment }}</td>
<td>
    <a href="#!" rel="popover" class="comment-patient" data-content="{{patient.comment}}" data-original-title="Comment">
    {{#limitLength}}{{patient.comment}}{{/limitLength}}
    </a>
</td>
<td>{{ patient.promoter_name }}</td>
<td>
    {{ #patient.date }}
        <img src="/static/admin/img/icon-yes.gif" alt="False">
    {{ /patient.date }}
    {{ ^patient.date }}
        <img src="/static/admin/img/icon-no.gif" alt="False">
    {{ /patient.date }}
</td>
<td>{{ patient.user_name }}</td>

<td>
    {{ #is_current_user }}
    <input type="button" class="btn btn-danger delete" value="Delete" />
    {{ /is_current_user }}
</td>
<td>
    {{ #is_current_user }}
    {{ ^patient.date }}
    <input type="button" class="btn btn-primary reactive" value="Activate">
    {{ /patient.date }}
    {{ #patient.date }}
    <input type="button" class="btn btn-warning cancel" value="Cancel">
    {{ /patient.date }}
    {{ /is_current_user }}
</td>
