/*
 * arkiadmin.css is the official css classes for Arkiadmin CMS
 */

 /* Dashboard classes */

.arki-dashboard-panel
{
}

.arki-widget
{
    background-color: #FCFCFC;
    border: 1px solid #E3E3E3;
    padding: 10px;
    /*margin-left: 0;
    margin-right: 10px;*/
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    float: left;
    min-height: 50px;
}

/* extra */
.space1
{
    width: 20px;
    height: 20px;
}