<br>
<a name="list"></a>
<h3>Lista de Pacientes</h3>
<table cellspacing="0" id="patient_list" class="table table-bordered table-striped">
    <thead>
        <tr>

            <th scope="col" class="sortable">
                <a href="?order_by=first_name#list">Nombre</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=datetime#list">Fecha</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=email#list">E-Mail</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=telephone#list">Telefono</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=mobile#list">Tel. Celular</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=clinic__name#list">Clinica</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=treatment#list">Tratamiento</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=date#list">Comentarios</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=date#list">Promotor</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=date#list">Cita</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=date#list">Usuario</a>
            </th>
            <th scope="col" class="action-checkbox-column">
            </th>

        </tr>
    </thead>
    <tbody id="patient-list">
    </tbody>
</table>
<div class="submits-list">

</div>