{% load analytics %}
{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}arkiadmin/css/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}arkiadmin/css/jquery-ui-timepicker-addon.css" />

        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}arkiadmin/css/bootstrap-menu.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}arkiadmin/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}arkiadmin/css/bootstrap-custom.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}arkiadmin/css/prettify.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}arkiadmin/css/bootstrap-wysihtml5.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}arkiadmin/css/arkiadmin.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}arkiadmin/css/rewrite.css" />

        <!--
        <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
        -->
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/jquery.init.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/jquery-ui.min.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/jquery.form.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/wysihtml5-0.3.0.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/prettify.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/bootstrap-wysihtml5.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/underscore-min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/backbone-min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/lodash.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/mustache.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/django.mustache.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/arkiadmin.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}arkiadmin/js/arkiadmin-time.js"></script>

        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
        {% block blockbots %}
        <meta name="user-id" content="{{ user.id }}">
        {% if user.is_superuser %}
        <meta name="user-root" content="yes">
        {% else %}
        <meta name="user-root" content="no">
        {% endif %}
        <meta name="user-name" content="{{ user.first_name }}">
        <meta name="robots" content="NONE,NOARCHIVE" />
        {% endblock %}
    </head>
    {% load i18n %}
    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
        {% if not is_popup %}
        {% if user.is_active and user.is_staff %}
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
				<a class="brand" href="/">{% trans 'Home' %}</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            {% url 'django-admindocs-docroot' as docsroot %}
                            {% if docsroot %}
                            <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                            {% endif %}
                            {% for app in adm_app_list %}
                                {% if app.name == "Auth" or app.name == "Sites" %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            {{ app.name }}
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for model in app.models %}
                                            <li class="dropdown parent">
                                                {% if model.perms.change %}
                                                <a href="{{ model.admin_url }}">
                                                {% else %}
                                                <a href="#">
                                                {% endif %}
                                                    {{ model.name }}
                                                    <b class="caret-right"></b>
                                                </a>

                                                <ul class="dropdown-menu">
                                                    <li class="submenu">
                                                        {% if model.perms.add %}
                                                        <a href="{{ model.admin_url }}add/">
                                                            {% trans 'Add' %}
                                                        </a>
                                                         {% endif %}
                                                    </li>
                                                    <li class="submenu">
                                                        {% if model.perms.change %}
                                                        <a href="{{ model.admin_url }}">
                                                            {% trans 'Change' %}
                                                        </a>
                                                         {% endif %}
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% trans 'Pages' %}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                {% for app in adm_app_list %}
                                    {% if app.name != "Auth" and app.name != "Sites" %}
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                {{ app.name }}
                                                <b class="caret-right"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                {% for model in app.models %}
                                                <li class="dropdown parent">
                                                    {% if model.perms.change %}
                                                    <a href="{{ model.admin_url }}">
                                                    {% else %}
                                                    <a href="#">
                                                    {% endif %}
                                                        {{ model.name }}
                                                        <b class="caret-right"></b>
                                                    </a>

                                                    <ul class="dropdown-menu">
                                                        <li class="submenu">
                                                            {% if model.perms.add %}
                                                            <a href="{{ model.admin_url }}add/">
                                                                {% trans 'Add' %}
                                                            </a>
                                                             {% endif %}
                                                        </li>
                                                        <li class="submenu">
                                                            {% if model.perms.change %}
                                                            <a href="{{ model.admin_url }}">
                                                                {% trans 'Change' %}
                                                            </a>
                                                             {% endif %}
                                                        </li>
                                                    </ul>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="/export/" >
                                    {% trans 'Export' %}
                                </a>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% filter force_escape %}
                                        {% firstof user.first_name user.username %}
                                    {% endfilter %}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                {% url 'admin:password_change' as password_change_url %}
                                    {% if password_change_url %}
                                        <li id="change_passwd" class="user">
                                            <a href="{{ password_change_url }}">{% trans 'Change password' %}</a>
                                        </li>
                                    {% else %}
                                        <li id="change_passwd" class="user"><a href="{{ root_path }}password_change/">{% trans 'Change password' %}</a></li>
                                    {% endif %}


                                {% url 'admin:logout' as logout_url %}
                                    {% if logout_url %}
                                        <li><a href="{{ logout_url }}" class="user">{% trans 'Log out' %} </a></li>
                                    {% else %}
                                        <li><a href="{{ root_path }}logout/" class="user">{% trans 'Log out' %} </a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% endif %}

        {% block userlinks %}{% endblock %}

        {% block mainbody %}
        <div class="main {% block coltype %}colM{% endblock %}">

            {% if messages %}
            <div class="alert alert-success">
                <ul class="messagelist">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {# block breadcrumbs #}
            <!-- jesus-anaya
            <ul class="breadcrumb">
                <li><a href="/">{% trans 'Home' %}</a> <span class="divider">/</span></li>
                <li class="active">{% if title %} {{ title }}{% endif %}</li>
            </ul>
            -->
            {# endblock #}

            {% block pretitle %}{% endblock %}
            {% block content_title %}
                {% if title %}
                <div class="page-header">
                    <h3>{{ title }}</h3>
                </div>
                {% endif %}
            {% endblock %}
            <div class="row-fluid show-grid">
                <div class="span12">
                    {% block content %}
                        {% block object-tools %}{% endblock %}
                        {{ content }}
                    {% endblock %}
                </div>
                <div class="span3">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>

            {% block footer %}{% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
