{% extends 'base.html' %}
{% block content %}
<article>
    <div class="container">
        <div class="content">
            <form>
                {{ form }}
            </form>
        </div>
    </div>
</article>
{% endblock %}