<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top separator">
            <div class="navbar-inner">
                <div class="container-fluid">
                    {% if user.is_authenticated %}
                    <a href="/" class="brand">Home</a>
                    <div class="pull-right">
                        <a href="/user/?id={{ user.id }}" class="brand">{{ user.get_full_name }}</a>
                        <a href="/logout/" class="brand">Logout</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>