{% extends "admin/base_site.html" %}
{% block extrastyle %}
<style type="text/css">
    input[type="text"]
    {
        float: none !important;
        width: 100px !important;
    }

    .field-box
    {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .btn-check
    {
        margin-right: 40px !important;
    }
</style>
<script src="/static/js/export_script.js"></script>
{% endblock %}
{% block mainbody %}
<div class="main {% block coltype %}colM{% endblock %}">
    <div class="row-fluid show-grid">
        <div class="span12">
            <form action="/exportscv/" method="post"> {% csrf_token %}
                <fieldset class="module aligned ">
                    <div class="field-box">
                        Name: <input type="checkbox" name="name" checked />
                    </div>
                    <div class="field-box">
                        Email: <input type="checkbox" name="email" checked />
                    </div>
                    <div class="field-box">
                        Telephone: <input type="checkbox" name="phone" checked />
                    </div>
                    <div class="field-box">
                        Mobile: <input type="checkbox" name="movil" checked />
                    </div>
                    <div class="field-box">
                        Clinic: <input type="checkbox" name="clinica" checked />
                    </div>
                    <div class="field-box">
                        Appointment Status: <input type="checkbox" name="trata" checked />
                    </div>
                    <div class="field-box">
                        Procedures: <input type="checkbox" name="procedures" checked />
                    </div>
                    <div class="field-box">
                        Birth date: <input type="checkbox" name="birth_date" checked />
                    </div>
                    <div class="field-box">
                        City of Residence: <input type="checkbox" name="city_of_residence" checked />
                    </div>
                    <div class="field-box">
                        Promo Code: <input type="checkbox" name="promo_code" checked />
                    </div>
                    <div class="field-box">
                        Comments: <input type="checkbox" name="comments" checked />
                    </div>
                    <div class="field-box">
                        Reward Program Names: <input type="checkbox" name="reward_program" checked />
                    </div>
                </fieldset>
                <fieldset class="module aligned ">
                    <div class="field-box">
                        Promoter:
                        <select name="promo">
                            <option value="">-- --</option>
                            {% for promoter in promoters %}
                            <option value="{{promoter.id}}">{{promoter.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field-box">
                        User:
                        <select name="user">
                            <option value="">-- --</option>
                            {% for user in users %}
                            <option value="{{user.id}}">{{user.get_full_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field-box">
                        Type:
                        <select name="type">
                            <option value="">-- --</option>
                            <option value="1">Patients</option>
                            <option value="0">Patients Prospect</option>
                            <option value="2">Cancellations</option>
                            <option value="3">No Show</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset class="module aligned ">
                    <div class="field-box">
                        Date:<br>
                        From <input type="text" name="date_init" class="date_data"> to
                        <input type="text" name="date_end" class="date_data">
                    </div>
                    <div class="field-box">
                        Export All: <input type="checkbox" id="check-all" class="btn-check" />
                    </div>
                    <div class="field-box">
                        <input type="submit" value="Export" class="btn btn-primary">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
