{% extends 'admin/change_form.html' %}
{% load url from future %}
{% load jstemplate %}
{% load items_list %}

{% block extrahead %}
<style type="text/css">
.main
{
    max-width: none !important;
}
</style>
<meta name="patient-model" content="{% url 'backbone:remailer_patient' %}" />
<meta name="clinic-model" content="{% url 'backbone:remailer_clinic' %}" />
<meta name="promoter-model" content="{% url 'backbone:remailer_promoter' %}" />

<script type="text/javascript" src="/static/js/patient_script.js"></script>
<script>
    // (Optional) Do this if you are using csrf protection:
    // See: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/
    var oldSync = Backbone.sync;
    Backbone.sync = function(method, model, options) {
        options.beforeSend = function(xhr){
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        };
        return oldSync(method, model, options);
    };
</script>
{% endblock %}

{% block mainbody %}{{ block.super }}
{% mustachejs "patients" %}
{% endblock %}

{% block fieldset %}
<fieldset class="module aligned" id="#patient_fieldset">
    <input type="hidden" id="id_active" value="" />
    <div class="form-row first_name last_name datetime date email telephone mobile treatment clinic promoter comment">
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_first_name" class="required">Nombre:</label>
            <input id="id_first_name" type="text" class="vTextField required" name="first_name" maxlength="50">
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_last_name" class="required inline">Apellido:</label>
            <input id="id_last_name" type="text" class="vTextField required" name="last_name" maxlength="50">
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_datetime_0" class="required inline">Fecha y Hora:</label>
            <p class="datetime">
                Date: <input id="id_date_data" type="text" class="vDateField" size="10"><br>
                Time: <input id="id_time_data" type="text" class="vTimeField" size="8"></p>
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <input type="checkbox" name="date" id="id_date" value='0'><label for="id_date" class="vCheckboxLabel inline required">Cita</label>
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_email" class="required inline">E-Mail:</label>
            <input id="id_email" type="text" class="vTextField" name="email" maxlength="100">
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_telephone" class="required inline">Telefono:</label>
            <input id="id_telephone" type="text" class="vTextField required" name="telephone" maxlength="25">
        </div>
        <div class="field-box">
             <div class="space1"></div>
            <label for="id_mobile" class="required inline">Tel. Celular:</label>
            <input id="id_mobile" type="text" class="vTextField" name="mobile" maxlength="25">
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_treatment" class="required inline">Tratamiento:</label>
            <input id="id_treatment" type="text" class="vTextField" name="treatment" maxlength="100">
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_clinic" class="required inline">Clinica:</label>
            <select name="clinic" id="id_clinic">
                <option value="" selected="selected">---------</option>
                {% promotor_list %}
            </select>
            <a href="/remailer/clinic/add/" class="add-another" id="add_id_clinic" onclick="return showAddAnotherPopup(this);">
                <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another">
            </a>
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_promoter" class="required inline">Promotor:</label>
            <select name="promoter" id="id_promoter">
                <option value="" selected="selected">---------</option>
                {% clinic_list %}
            </select>
            <a href="/remailer/promoter/add/" class="add-another" id="add_id_promoter" onclick="return showAddAnotherPopup(this);">
                <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another">
            </a>
        </div>
        <div class="field-box">
            <div class="space1"></div>
            <label for="id_comment" class="required inline">Commentatio:</label>
            <textarea id="id_comment" rows="10" cols="40" name="comment" class="vLargeTextField"></textarea>
        </div>
    </div>
</fieldset>
{% endblock %}

{% block submit %}
<div class="submits" id="submits">
    <a href="#!/save" class="btn btn-primary">Guardar Paciente<a/>
    <a href="#!/new" class="btn">Nuevo Paciente<a/>
</div>
{% endblock %}

{% block extra_content %}
<br>
<a name="list"></a>
<h3>Lista de Pacientes</h3>
<table cellspacing="0" id="patient_list" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col" class="sortable">
                <a href="?order_by=first_name#list">Nombre</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=first_name#list">Apellido</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=datetime#list">Fecha</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=datetime#list">Hora</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=email#list">E-Mail</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=telephone#list">Telefono</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=mobile#list">Tel. Celular</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=clinic__name#list">Clinica</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=treatment#list">Tratamiento</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=date#list">Comentarios</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=date#list">Promotor</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=date#list">Cita</a>
            </th>
            <th scope="col" class="sortable">
                <a href="?order_by=date#list">Usuario</a>
            </th>
            <th scope="col" class="action-checkbox-column">
            </th>
            <th scope="col" class="action-checkbox-column">
            </th>
        </tr>
    </thead>
    <tbody id="patients-list">

    </tbody>
</table>
<div class="submits-list">
</div>
{% endblock %}

{% block prepopulated_fields_block %}
{% endblock %}