{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="login-form">
                <h2>Login</h2>
                <form action="/login/" method="post">{% csrf_token %}
                    <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
                    <fieldset>
                        <div class="clearfix">
                            <input type="text" placeholder="username" name="username" />
                        </div>
                        <div class="clearfix">
                            <input type="password" placeholder="password" name="password" />
                        </div>
                        {% if error %}
                        <p class="text-error">Error Login</p>
                        {% endif %}
                        <button class="btn btn-primary" type="submit">Sign in</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}