{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="login-form">
                <h2>Recovery user</h2>
                <form action="/login/" method="post">{% csrf_token %}
                    <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
                    <fieldset>
                        <div class="clearfix">
                            <input type="text" placeholder="email" name="email" />
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}